
.container{
    margin-top: 50px;
   padding: 15px;
   max-width: 65%;
   border: 5px solid #26a69a !important;
   background-color: rgb(252, 250, 248);
   
}


@media screen and (max-width: 1100px) {
    .container {
      max-width: 50%;
    }
  }
@media screen and (max-width: 1100px) {
    .container {
      max-width: 100%;
    }
  }
.post{
    align-items: center;
    
}