#contact-component{
    width:50vw;
    margin: auto;
}

#contact-component .ct-icon{
    width:200px;
}

@media screen and (max-width:400px) {
    
    #contact-component{
        width:90vw;
    }
}
 

.contact-us *{
    vertical-align: middle;
}

.contact-us h5{
    display: inline;
    vertical-align: middle;
}

#contact-component .waitingWindow{
    height: 200px;
} 

#contact-component .waitingWindow .waitIcon div{
    position: relative;
    top:0;
}